// For Client
VITE_API_URL=http://localhost:3000
VITE_API_KEY=dev_api_key_secret

// For Server
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/taskflow?schema=public"
REDIS_URL="redis://localhost:6380"
PORT=3000
API_KEY="dev_api_key_secret"
NODE_ENV="development"